{% extends "base.html" %}
{% load shamsi_filters %}
{% block title %}{{ post.title }} - وبلاگ من{% endblock %}

{% block content %}
{% if post.image %}
  <div class="text-center my-4">
  <img src="{{ post.image.url }}"
       alt="{{ post.title }}"
       class="img-fluid rounded w-25">
</div>
{% endif %}

<div class="card shadow-sm">
    <div class="card-body">
        <h2 class="card-title mb-3">{{ post.title }}</h2>
        {% if user.is_authenticated %}
            <form action="{% url 'like_post' post.pk %}" method="post">
                {% csrf_token %}
                {% if user in post.likes.all %}
                    <button type="submit" class="btn btn-danger btn-sm">❤️ لغو لایک</button>
                {% else %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">🤍 لایک</button>
                {% endif %}
                <span class="ms-2 text-muted small">تعداد لایک‌ها: {{ post.total_likes }}</span>
            </form>
        {% else %}
            <button type="button" onclick="loginMessage()" class="btn btn-outline-danger btn-sm">🤍 لایک</button>
            <span class="ms-2 text-muted small">تعداد لایک‌ها: {{ post.total_likes }}</span>
        {% endif %}

        <p class="text-muted small">تاریخ انتشار: {{ post.created_at|to_shamsi }}</p>
        <div class="card-text" style="line-height: 1.8; font-size: 1.1rem;">
            {{ post.content|linebreaks }}
        </div>
        <p class="text-muted small">نویسنده : {{ post.author }}</p>
    </div>
</div>

<a href="{% url 'posts' %}" class="btn btn-primary mt-4">بازگشت به مطالب</a>
<h5 class="mt-5">نظرات</h5>
{% if comments %}
    {% for comment in comments %}
        <div class="border p-2 mb-2 rounded">
           <strong> {{ comment.created_at|to_shamsi }} - {{ comment.author }} </strong>

            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>هیچ نظری ثبت نشده است.</p>
{% endif %}

{% if user.is_authenticated %}
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">ارسال نظر</button>
    </form>
{% else %}
    <p class="text-danger mt-4">برای ثبت نظر باید <a href="{% url 'login' %}">وارد شوید</a>.</p>
{% endif %}
{% endblock %}
{% block customScripts %}
<script>
    function loginMessage(){
        alert("ابتدا باید وارد شوید")
    }
</script>
{% endblock %}
